<h2>Update Book</h2>
<form action="/edit/books/{{booksId}}" method="POST">
    <input type="text" name="newTitle" placeholder="Title" value="">
    <button class="btn waves-effect waves-light rgba-white-slight" type="submit" name="action">Submit</button>
</form>