<h2>Books</h2>
<img src="icon_images/books.png" alt="books icon image">
<ul class="nav">
    <li class="nav-item">
        <a class="nav-link active" href="/books/show">View</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="/books/new">Create</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="/books/update">Update</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="/books/delete">Delete</a>
    </li>
</ul>