<h2>Books</h2>
<img src="icon_images/books.png" alt="books icon image">
<ul class="nav">
    <li class="nav-item">
        <a class="nav-link" href="/books/new">Create</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="/books/delete">Delete</a>
    </li>
</ul>
{{#each booksIndex}}
<div>
    <a href="/books/{{_id}}">{{title}}</a>
</div>
{{/each}}