<h2>Books</h2>
<div id="imageMenuCenter">
    <img src="https://i.imgur.com/gpj3w21.png" alt="books icon image">
    <ul class="nav">
        <li class="nav-item">
            <a class="nav-link" href="/books/new">Create</a>
        </li>
    </ul>
</div>
{{#each booksIndex}}
<div>
    <a href="/books/{{_id}}">{{title}}</a>
</div>
{{/each}}