<h2>New Book</h2>
<form action="/books/create" method="POST">
    <input type="text" name="title" placeholder="Title" value="">
    <input type="text" name="date" placeholder="Date" value="">
    <input type="text" name="setting" placeholder="Setting" value="">
    <input type="text" name="description" placeholder="Description" value="">
    <input type="text" name="genre" placeholder="Genre" value="">
    <button class="btn waves-effect waves-light rgba-white-slight" type="submit" name="action">Submit</button>
</form>