<h2>Update Author</h2>
<form action="/edit/{{authorId}}" method="POST">
    <input type="text" name="firstName" placeholder="First Name" value="">
    <button class="btn waves-effect waves-light rgba-white-slight" type="submit" name="action">Submit</button>
</form>