<h2>Authors</h2>
<img src="icon_images/author.png" alt="author icon image">
<ul class="nav">
    <li class="nav-item">
        <a class="nav-link active" href="/author/show">View</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="/author/new">Create</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="/author/update">Update</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="/author/delete">Delete</a>
    </li>
</ul>