<h2>Welcome New Author</h2>
<form>
    <input type="text" name="userName" placeholder="User Name" value="">
    <input type="text" name="password" placeholder="Password" value="">
    <input type="text" name="firstName" placeholder="First Name" value="">
    <input type="text" name="lastName" placeholder="Last Name" value="">
    <input type="text" name="email" placeholder="Email" value="">
    <input type="text" name="phoneNumber" placeholder="Phone" value="">
    <input type="text" name="location" placeholder="Location" value="">
    <button class="btn waves-effect waves-light rgba-white-slight" type="submit" name="action">Submit</button>
</form>