h1 {
    color: #B0CDD9;
    background-color: #592B02;
    text-decoration: none;
}

a {
    color: #B0CDD9;
    background-color: #592B02;
    display: flex;
    justify-content: center;
    text-decoration: none;
}

nav {
    color: #B0CDD9;
    display: flex;
    align-self: center;
    align-content: center;
    justify-content: center;
    text-decoration: none;
}

h4 {
    color: #B0CDD9;
    background-color: #592B02;
    display: flex;
    justify-content: center;
}

h2 {
    display: flex;
    justify-content: center;
}

/* img {
    display: flex;
    justify-content: center;
}

.a.nav-link {
    display: flex;
    justify-content: center;
} */

#imageMenuCenter {
    color: red;
    display: flex;
    justify-content: center;
}