h1 {
    font-family: Cinzel;
    color: #B0CDD9;
    background-color: #592B02;
    text-decoration: none;
}

a {
    color: #B0CDD9;
    background-color: #592B02;
    display: flex;
    justify-content: center;
    text-decoration: none;
}

nav {
    font-family: Kanit;
    color: #B0CDD9;
    display: flex;
    align-self: center;
    align-content: center;
    justify-content: center;
    text-decoration: none;
}

h4 {
    font-family: Cinzel;
    color: #B0CDD9;
    background-color: #592B02;
    display: flex;
    justify-content: center;
}

h2 {
    display: flex;
    justify-content: center;
}

#imageMenuCenter {
    color: red;
    display: flex;
    justify-content: center;
}

/* #homePageMenu {
    color: red;
    background-color: blue;
    display: flex;
    justify-content: center;
    text-decoration: none;
} */