<div style="margin: 20px auto; width: 80vw; border: 1px solid black;">
    <form action="/{{newslinkId}}/comments" method="POST">
        <input type="text" name="name" placeholder="name" value="">
        <input type="text" name="source" placeholder="Source" value="">
        <input type="text" name="date" placeholder="Publish Date" value="">
        <input type="text" name="description" placeholder="Description" value="">
        <input type="text" name="genre" placeholder="Genre" value="">
        <input type="text" name="tags" placeholder="Tags" value="">
        <textarea type="text" name="writing" placeholder="Writing" value=""></textarea>
        <button class="btn" type="submit">Create Page</button>
    </form>
</div>