<h2>Update Page</h2>
<form action="/edit/{{pagesId}}" method="POST">
    <input type="text" name="newDescription" placeholder="Description" value="">
    <button class="btn waves-effect waves-light rgba-white-slight" type="submit" name="action">Submit</button>
</form>