<h2>Pages</h2>
<div id="imageMenuCenter">
    <img src="https://i.imgur.com/hmRhAG4.png" alt="pages icon image">
    <ul class="nav">
        <li class="nav-item">
            <a class="nav-link" href="/pages/new">Create</a>
        </li>
    </ul>
</div>
{{#each pagesIndex}}
<div>
    <a href="/pages/{{_id}}">{{name}}</a>
</div>
{{/each}}