<h2>Pages</h2>
<img src="icon_images/pages.png" alt="pages icon image">
<ul class="nav">
    <li class="nav-item">
        <a class="nav-link active" href="/pages/show">View</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="/pages/new">Create</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="/pages/update">Update</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="/pages/delete">Delete</a>
    </li>
</ul>
{{#each pagesIndex}}
<div>
    <a href="/pages/{{_id}}">{{name}}</a>
</div>
{{/each}}