<div style="margin: 25px auto; width: 80vw; border: 4px solid black;">
    <form action="/{{booksId}}/pages/{{pageId}}?_method=PATCH" method="POST">
        <input type="text" name="name" placeholder="Name" value="">
        <input type="text" name="source" placeholder="Source" value="">
        <input type="text" name="date" placeholder="Publish Date" value="">
        <input type="text" name="description" placeholder="Description" value="">
        <input type="text" name="genre" placeholder="Genre" value="">
        <input type="text" name="tags" placeholder="Tags" value="">
        <textarea type="text" name="writing" placeholder="Writing" value=""></textarea>
        <button class="btn" type="submit">Update</button>
    </form>
</div>